# Importing packages and basic setup

In [7]:
import numpy as np
import pandas as pd

In [4]:
np.set_printoptions(suppress=True,linewidth=100,precision=2)

# Importing Data

In [8]:
raw_data=np..read_csv('loan-data.csv')
raw_data

     id;issue_d;loan_amnt;loan_status;funded_amnt;term;int_rate;installment;grade;sub_grade;verification_status;url;addr_state;total_pymnt
0     48010226;May-15;35000.0;Current;35000.0; 36 mo...
1     57693261;;30000.0;Current;30000.0; 36 months;�...
2     59432726;Sep-15;15000.0;Current;15000.0; 36 mo...
3     53222800;Jul-15;9600.0;Current;9600.0; 36 mont...
4     57803010;Aug-15;8075.0;Current;8075.0; 36 mont...
...                                                 ...
9995  42974433;Mar-15;18000.0;Current;18000.0; 36 mo...
9996  45424654;Apr-15;11300.0;Current;11300.0; 36 mo...
9997  50415990;Jun-15;10000.0;Current;10000.0; 36 mo...
9998  46154151;Apr-15;;Current;10000.0; 36 months;16...
9999  66055249;Dec-15;10000.0;Current;10000.0; 36 mo...

[10000 rows x 1 columns]