In [1]:
people={
    "first":["Kirti","Saket","Hrisabh"],
    "last":["Kumar","Tiwari","Mishra"],
    "email":["kirti@gmail.com","saket@gmail.com","hri@gmail.com"]
}

In [2]:
people['email']

['kirti@gmail.com', 'saket@gmail.com', 'hri@gmail.com']

In [3]:
import pandas as pd

In [4]:
df=pd.DataFrame(people)

In [5]:
df

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
1    Saket  Tiwari  saket@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [6]:
df['email']

0    kirti@gmail.com
1    saket@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    kirti@gmail.com
1    saket@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [14]:
df[['first','email']]

     first            email
0    Kirti  kirti@gmail.com
1    Saket  saket@gmail.com
2  Hrisabh    hri@gmail.com

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df.iloc[0]

first              Kirti
last               Kumar
email    kirti@gmail.com
Name: 0, dtype: object

In [20]:
df.iloc[[0,2]]

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [25]:
df.iloc[[0,2],0]

0      Kirti
2    Hrisabh
Name: first, dtype: object

In [26]:
df.iloc[[0,2],2]

0    kirti@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [28]:
df.loc[0]

first              Kirti
last               Kumar
email    kirti@gmail.com
Name: 0, dtype: object

In [29]:
df.loc[[0,1]]

   first    last            email
0  Kirti   Kumar  kirti@gmail.com
1  Saket  Tiwari  saket@gmail.com

In [30]:
df.loc[[0,1],'email']

0    kirti@gmail.com
1    saket@gmail.com
Name: email, dtype: object

In [32]:
df.loc[[0,2],['email','first']]

             email    first
0  kirti@gmail.com    Kirti
2    hri@gmail.com  Hrisabh