In [4]:
people={
    "first":["Kirti","Saket","Hrisabh"],
    "last":["Kumar","Tiwari","Mishra"],
    "email":["kirti@gmail.com","saket@gmail.com","hri@gmail.com"]
}

In [5]:
people['email']

['kirti@gmail.com', 'saket@gmail.com', 'hri@gmail.com']

In [6]:
import pandas as pd

In [66]:
df=pd.DataFrame(people)

In [67]:
df

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
1    Saket  Tiwari  saket@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [6]:
df['email']

0    kirti@gmail.com
1    saket@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [9]:
df.email

0    kirti@gmail.com
1    saket@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [8]:
type(df['email'])

pandas.core.series.Series

In [14]:
df[['first','email']]

     first            email
0    Kirti  kirti@gmail.com
1    Saket  saket@gmail.com
2  Hrisabh    hri@gmail.com

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df.iloc[0]

first              Kirti
last               Kumar
email    kirti@gmail.com
Name: 0, dtype: object

In [20]:
df.iloc[[0,2]]

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [25]:
df.iloc[[0,2],0]

0      Kirti
2    Hrisabh
Name: first, dtype: object

In [26]:
df.iloc[[0,2],2]

0    kirti@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [28]:
df.loc[0]

first              Kirti
last               Kumar
email    kirti@gmail.com
Name: 0, dtype: object

In [29]:
df.loc[[0,1]]

   first    last            email
0  Kirti   Kumar  kirti@gmail.com
1  Saket  Tiwari  saket@gmail.com

In [30]:
df.loc[[0,1],'email']

0    kirti@gmail.com
1    saket@gmail.com
Name: email, dtype: object

In [32]:
df.loc[[0,2],['email','first']]

             email    first
0  kirti@gmail.com    Kirti
2    hri@gmail.com  Hrisabh

In [8]:
df

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
1    Saket  Tiwari  saket@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [9]:
df['email']

0    kirti@gmail.com
1    saket@gmail.com
2      hri@gmail.com
Name: email, dtype: object

In [10]:
df.set_index('email')

                   first    last
email
kirti@gmail.com    Kirti   Kumar
saket@gmail.com    Saket  Tiwari
hri@gmail.com    Hrisabh  Mishra

In [11]:
df

     first    last            email
0    Kirti   Kumar  kirti@gmail.com
1    Saket  Tiwari  saket@gmail.com
2  Hrisabh  Mishra    hri@gmail.com

In [15]:
df.set_index('email',inplace=True)

In [16]:
df

                   first    last
email
kirti@gmail.com    Kirti   Kumar
saket@gmail.com    Saket  Tiwari
hri@gmail.com    Hrisabh  Mishra

In [17]:
df.index

Index(['kirti@gmail.com', 'saket@gmail.com', 'hri@gmail.com'], dtype='object', name='email')

In [18]:
df.loc['kirti@gmail.com']

first    Kirti
last     Kumar
Name: kirti@gmail.com, dtype: object

In [19]:
df.loc['kirti@gmail.com','last']

'Kumar'

In [23]:
df.iloc[0]

first    Kirti
last     Kumar
Name: kirti@gmail.com, dtype: object

In [24]:
df.reset_index(inplace=True)
df

             email    first    last
0  kirti@gmail.com    Kirti   Kumar
1  saket@gmail.com    Saket  Tiwari
2    hri@gmail.com  Hrisabh  Mishra

In [28]:
df['last']=='Kumar'

0     True
1    False
2    False
Name: last, dtype: bool

In [29]:
filt=(df['last']=='Kumar')

In [30]:
df[filt]

             email  first   last
0  kirti@gmail.com  Kirti  Kumar

In [31]:
df.loc[filt]

             email  first   last
0  kirti@gmail.com  Kirti  Kumar

In [32]:
df.loc[filt,'email']

0    kirti@gmail.com
Name: email, dtype: object

In [35]:
filt=(df['last']=='Kumar') & (df['first']=='Kirti')

In [37]:
df.loc[filt]

             email  first   last
0  kirti@gmail.com  Kirti  Kumar

In [38]:
filt=(df['last']=='Kumar') | (df['last']=='Mishra')

In [39]:
df.loc[filt]

             email    first    last
0  kirti@gmail.com    Kirti   Kumar
2    hri@gmail.com  Hrisabh  Mishra

In [40]:
df.loc[~filt]

             email  first    last
1  saket@gmail.com  Saket  Tiwari

In [41]:
df.columns

Index(['email', 'first', 'last'], dtype='object')

In [42]:
#renaming columns

In [43]:
df.columns=['email','first_name','last_name']

In [44]:
df

             email first_name last_name
0  kirti@gmail.com      Kirti     Kumar
1  saket@gmail.com      Saket    Tiwari
2    hri@gmail.com    Hrisabh    Mishra

In [46]:
df.columns=[x.upper() for x in df.columns]
df

             EMAIL FIRST_NAME LAST_NAME
0  kirti@gmail.com      Kirti     Kumar
1  saket@gmail.com      Saket    Tiwari
2    hri@gmail.com    Hrisabh    Mishra

In [47]:
df.columns=df.columns.str.replace('_',' ')

In [48]:
df

             EMAIL FIRST NAME LAST NAME
0  kirti@gmail.com      Kirti     Kumar
1  saket@gmail.com      Saket    Tiwari
2    hri@gmail.com    Hrisabh    Mishra

In [50]:
df.columns=df.columns.str.replace(' ','_') 
df

             EMAIL FIRST_NAME LAST_NAME
0  kirti@gmail.com      Kirti     Kumar
1  saket@gmail.com      Saket    Tiwari
2    hri@gmail.com    Hrisabh    Mishra

In [70]:
df.rename(columns={'FIRST_NAME':'first','LAST_NAME':'last'},inplace=True)
df

     first    last              email
0    Kirti   Kumar    kirti@gmail.com
1    Saket  Tiwari    saket@gmail.com
2  Hrisabh  pandit  hrisabh@gmail.com

df.loc[2]

In [54]:
df.loc[2]

EMAIL    hri@gmail.com
first          Hrisabh
last            Mishra
Name: 2, dtype: object

In [68]:
df.loc[2,['last','email']]=['pandit','hrisabh@gmail.com']

In [71]:
df

     first    last              email
0    Kirti   Kumar    kirti@gmail.com
1    Saket  Tiwari    saket@gmail.com
2  Hrisabh  pandit  hrisabh@gmail.com

In [72]:
df.at[2,'last']='Mishra'

In [73]:
df

     first    last              email
0    Kirti   Kumar    kirti@gmail.com
1    Saket  Tiwari    saket@gmail.com
2  Hrisabh  Mishra  hrisabh@gmail.com

In [77]:
df['email']=df['email'].str.upper()

In [78]:
df

     first    last              email
0    Kirti   Kumar    KIRTI@GMAIL.COM
1    Saket  Tiwari    SAKET@GMAIL.COM
2  Hrisabh  Mishra  HRISABH@GMAIL.COM

In [79]:
df['email'].apply(len)

0    15
1    15
2    17
Name: email, dtype: int64

In [80]:
def update_email(email):
    return email.upper()

In [81]:
df['email'].apply(update_email)

0      KIRTI@GMAIL.COM
1      SAKET@GMAIL.COM
2    HRISABH@GMAIL.COM
Name: email, dtype: object

In [82]:
df['email'].apply(lambda x:x.lower())

0      kirti@gmail.com
1      saket@gmail.com
2    hrisabh@gmail.com
Name: email, dtype: object

In [83]:
df['email'].apply(len)

0    15
1    15
2    17
Name: email, dtype: int64

In [84]:
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [86]:
df.apply(len,axis=1)

0    3
1    3
2    3
dtype: int64

In [88]:
df.apply(pd.Series.min)

first              Hrisabh
last                 Kumar
email    HRISABH@GMAIL.COM
dtype: object

In [89]:
df.apply(lambda x:x.min())

first              Hrisabh
last                 Kumar
email    HRISABH@GMAIL.COM
dtype: object

In [90]:
df.applymap(len)

   first  last  email
0      5     5     15
1      5     6     15
2      7     6     17

In [93]:
df['first']=df['first'].replace({'Saket':'saket','Kirti':'kirti'})
df

     first    last              email
0    kirti   Kumar    KIRTI@GMAIL.COM
1    saket  Tiwari    SAKET@GMAIL.COM
2  Hrisabh  Mishra  HRISABH@GMAIL.COM